/*Loader*/
.search-loading {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

/*Show and hide*/
.show {
  display: inline-block;
}

.hide {
  display: none;
}

.message {
  padding-left: 16px;
}

/*Nav Links*/
.nav-link-container {
  margin: 20px 0;
  display: flex;
  justify-content: flex-end;
}

.nav-link {
  color: #555;
  text-decoration: none;
  padding: 8px 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.greyed-out {
  background: #f1f1f1;
  opacity: 0.5;
}

body {
  background-color: #f5f5f5;
}